@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
body  {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Condensed', sans-serif;
}

.mainheader1 {
    text-decoration: underline;
    text-align: center;
}
.mainheader2 {
    text-align: center;
}

main {
    padding: 16px ;
    margin: 5px;


}

footer {
    padding: 24px 0px ;
}

img {
    height: 200px ;
}

nav a:hover {
    color: black;
}

nav a:visited {
    color: black;
}

nav  {
    border-bottom: 1px solid black;
    padding: 16px ;
    background-color: #8FC7C2

}

tbody tr:nth-child(even) {
    background-color: #C0E6EB;
}


footer {
    position: sticky;
    bottom:0;
    left: 20px;
    padding: 25px;
    background-color: #F27D70;
}


a:visited {
    color:#F27D70
}

a:hover {
    color: #8FC7C2;
}

a {
    text-decoration: none;

}

.my-grid {
    display: grid;
    column-gap: 20px;
    row-gap: 25px;
    grid-template-columns: repeat(4,1fr)
}

.grid-item {
    box-shadow: 15px 15px 10px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid gray;

}
